body {
  background-image: url("image.png");
  background-size: cover;
}
nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 65px;
  align-items: center;
  justify-content: center;
  gap: 60%;
  padding: 0 10px;
  backdrop-filter: blur(10px) saturate(40%);
  border-radius: 15px;
  border: 5px solid orange;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

nav a {
  text-decoration: none;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 10px;
}

a {
  color:black;
  text-decoration: none;

}
a:hover {
  color: white;
  letter-spacing: 3px;
  background:  blue;
}

li:nth-child(1) {
  background-color: lightblue;
}

li:nth-child(2) {
  background-color: lightgreen;
}

li:nth-child(3) {
  background-color: lightcoral;
}

li:nth-child(4) {
  background-color: lightgoldenrodyellow;
}
li:nth-child(5) {
  background-color: pink;
}